	h1,h2,h4{
		font-family: sans-serif;
	}

	h1{
		font-size:26px;
		
		text-transform: uppercase;
		font-style: italic;
		color:blue;
	}
	h2{
		font-size:40px;
		
	}
	h4{
		font-size:26px;
		text-transform: uppercase;
		text-align: center;
	}
	p{
		font-size:15px;
		font-family: sans-serif;
		line-height: 1;
	}
	li{
		font-family: sans-serif;
		font-size:20px;
	}
	footer p{
		font-size:15px;
	}
	.related{
		list-style:none;
	}
	.related-author{
		font-weight: bold;
	}
	ul + p{
	font-weight: bold;  
	font-size: 20px;	
	}
