	.main-header{
		padding-left: 10px;
		padding-top: 20px; 
	}
	h1,h2,h4{
		font-family: sans-serif;
	}

	h1{
		font-size:26px;
		text-transform: uppercase;
		font-style: italic;
		color:blue;
	}
	h2{
		font-size:40px;
		
	}
	h4{
		font-size:26px;
		text-transform: uppercase;
		text-align: center;
	}
	p{
		font-size:15px;
		font-family: sans-serif;
		line-height: 1;
	}
	li{
		font-family: sans-serif;
		font-size:20px;
	}
	footer p{
		font-size:15px; /* Combinators */
		color: red !important;
	}
	#copyright{
		color: blue;
	}
	.copyright{
		color:pink;
	}
	.related{
		list-style:none;
	}
	.related-author{
		font-weight: bold;
	}

	ul + p{
	font-weight: bold;  
	font-size: 20px;	 /* Combinators */
	}
	a.header_link:link{
		color:green;
		text-transform: uppercase; /* Pseudo-classes */
		text-decoration: none;  
		padding: 10px 20px;
	}
	a.header_link:visited{
		color:blue;
	}
	a.header_link:hover{
		background-color: red;
		font-weight: bold;
		text-decoration: underline orange;
	}
	
	a.header_link:active{
		color:pink;
	}
	a.added:hover{
		color:yellow; 
	}
	p#small_head::first-line {
	  color: #ff0000;
	  font-variant: small-caps; /* Pseudo-element*/
	}